body{
	padding-top:50px;
	font-size:16px;
	background-color:#eee;
	-moz-background-size: 100% auto;
	background-image: url('../img/floral-background.png');
    color:#111;
}
.consultation, .nails, .service{
	margin-bottom:10px;
	background-color:#fff;
	box-shadow: 0px 0px 8px #444;
}

blockquote{
	border-left:0px;
}
#gallery a{
	width:19%;
	border:2px solid black;
	display:inline-block;
	margin-bottom:5px;
}
#gallery img{
	width:100%
}
.service {
	background-color: #fff;
	margin-bottom:10px;
	padding:10px;
}
.service h4 {
	background-color: #BF2C7D;
	line-height: 40px;
	text-align: center;
	color:#fff;
	margin: -10px;
	margin-bottom: 10px;
}
.service table{
	width:100%
}
.service table td{
	border-top:none;
}
.tier{
	background-color:#fff;
	color:#000;	
	box-shadow: 0px 0px 8px #444;
	padding-top:1px;
}
.tier p img{
	width:50%;
	max-width:100px;
	margin:20px 0;
}
.detail img{
	width:100%;
	max-width:50px;
}
.detail{
	color:#FFF;
	padding:5px;
	background-color: #BF2C7D;
}
.pay .tier .detail{
	margin-bottom:20px;
	height:40px;
}
.subtle{
	background-color: #666;
}
.about-image {
	border:1px solid black;
  	width: 300px;
  	margin-bottom:20px;
}
.about-image.pull-left{
	margin-right:20px;
}
.about-image.pull-right{
	margin-left:20px;
}
.contacts{
	line-height:30px;
	background-color:rgba(170, 170, 170, 0.6);
	border-radius:10px;
	padding:10px;
}
.price{
	font-size:40px;
	display:block;
	margin:30px;
}
.banner{
    font-size: 1.3em;
    font-weight:bold;
    font-family: "chantelli_antiquaregular",Helvetica,Arial;
}
.navbar-header img{
    width:100px;
    float:left;
    padding:5px;
}
.banner .logo{
    text-align:center;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif;
    font-weight:bold;
    font-size:2em;
    line-height:1em;
}
.banner img {
    width:100%;
}
p.description{
	padding:10px;
}

.detail p {
	font-size:16px;
}
.nails{
	padding-top:1px;
	background-color: white;
    margin-bottom:10px;
}
.nails .price{
	font-size:30px;
}
.separator{
	border-right:1px solid #DDD;
}
#myCarousel{
	 border:5px solid #aaa;
	 border-radius:5px;
	 border-bottom-left-radius: 250px;
	 overflow: hidden;
}
.page-header{
	border-bottom: 1px solid #aaa;
}
.error{
	color:#ff0000;
}
#pbOverlay .wrapper img{
	border:1px solid white;
}
.wrapper {
	padding:15px;
	background-color:#fff;
	-webkit-background-size: 10px 10px;
	-moz-background-size: 10px 10px;
	background-size: 10px 10px;
	/* background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent); */
	background-image: linear-gradient(-45deg, rgba(0, 0, 0, .02) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .02) 50%, rgba(0, 0, 0, .02) 75%, transparent 75%, transparent);
}
footer{
	padding-top: 40px;
	padding-bottom: 30px;
	text-align: center;
	border-top: 1px solid #333;
	background-color: #ccc;
	line-height:2em;
	background: linear-gradient(#777, #ccc);
}
footer img{
	width:80px;
}
footer ul{
	list-style:none;
	padding:0px;
}
footer i{
	padding-right:5px;
}
h2, h3{
	color:#BF2C7D;
}

@font-face {
    font-family: 'chantelli_antiquaregular';
    src: url('../fonts/Chantelli_Antiqua-webfont.eot');
    src: url('../fonts/Chantelli_Antiqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chantelli_Antiqua-webfont.woff') format('woff'),
         url('../fonts/Chantelli_Antiqua-webfont.ttf') format('truetype'),
         url('../fonts/Chantelli_Antiqua-webfont.svg#chantelli_antiquaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body{
	-webkit-background-size: 10px 10px, 800px auto;
	-moz-background-size: 10px 10px, 800px auto;
	background-size: 10px 10px, 800px auto;
	}
}
