h1, h2, h3 {
    font-family: 'Fredericka the Great', cursive;
    color: #ddd;
}
h3.alt {
  color: #ddd;
}

h1{
    font-size:45px;
}
body{
  padding-top:70px;
  font-size:1.8em;
  background-color:#eee;
    background-image: url('../img/darkwoodenbackground.jpg');
    color:#ddd;
}
.consultation, .nails, .service{
  margin-bottom:10px;
  background-color:#fff;
  box-shadow: 0px 0px 8px #444;
    color:black;
}
.contactus h3{
  margin-top: 0;
}
.page-header {
  margin: 40px 0 40px;
}

blockquote{
  border-left:0px;
}
#gallery a{
  width:19%;
  border:2px solid black;
  display:inline-block;
  margin-bottom:5px;
}
#gallery img{
  width:100%
}
.popover h3 {
  color: black;
  font-weight: bold;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
}
.detail .popover {
  width:300px;
}
.service {
  background-color: #fff;
  margin-bottom:10px;
  padding:10px;
}
.service h4 {
  background-color: #BF2C7D;
  line-height: 40px;
  text-align: center;
  color:#fff;
  margin: -10px;
  margin-bottom: 10px;
}
.service table{
  width:100%
}
.service table td{
  border-top:none;
}
.tier{
  background-color:#fff;
  color:#000; 
  box-shadow: 0px 0px 8px #444;
  padding-top:1px;
}
.tier p img{
  width:50%;
  max-width:100px;
  margin:20px 0;
}
.detail img{
  width:100%;
  max-width:50px;
}
.detail{
  color:#FFF;
  padding:5px;
  background-color: #BF2C7D;
}
.detail a{
  color:#0000FF;
}
.detail a:hover {
  color:#0000CC;
}
.detail .popover {
  color: black;
}
.pay .tier .detail{
  margin-bottom:20px;
  height:40px;
}
.subtle{
  background-color: #666;
}
.bio {
    margin-bottom: 30px;
    text-align: center;
}
.bio p {
    text-align: justify;
}
.about-image {
  border:1px solid black;
    max-width: 300px;
    margin-bottom:20px;
    width:100%;
}
.contacts{
  line-height:30px;
  background-color:rgba(0, 0, 0, 0.4);
  border-radius:10px;
  padding:10px;
  margin-bottom: 20px;
}
.contacts h4 {
  margin-bottom:10px;
}
.price{
  display:block;
  margin:30px;
  min-height: 80px;
}
.price strong{
  font-size:40px;
}
.banner{
    font-size: 1.3em;
    font-weight:bold;
    font-family: "chantelli_antiquaregular",Helvetica,Arial;
}
.navbar-header img{
    width:55px;
    float:left;
    padding:5px;
}
.banner .logo{
    text-align:center;
}
.banner img {
    width:100%;
}
p.description{
  padding:10px;
}

.detail p {
  font-size:16px;
}
.nails{
  padding-top:1px;
  background-color: white;
    margin-bottom:10px;
}
.nails .price{
  font-size:30px;
}
.separator{
  border-right:1px solid #DDD;
}
#myCarousel{
   border:5px solid #332B24;
   border-radius:5px;
}
.servicearea.link {
  text-align:center;
  width:100%;
  padding-bottom:10px;
}
.error{
  color:#ff0000;
}
#pbOverlay .wrapper img{
  border:1px solid white;
}
footer{
    border-top: #080808;
    background-color:#222;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 40px;
  text-align: center;
}
footer img{
  width:80px;
}
footer ul{
  list-style:none;
  padding:0px;
}
footer i{
  padding-right:5px;
}
h3{
  color:#BF2C7D;
}

@font-face {
    font-family: 'chantelli_antiquaregular';
    src: url('../fonts/Chantelli_Antiqua-webfont.eot');
    src: url('../fonts/Chantelli_Antiqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chantelli_Antiqua-webfont.woff') format('woff'),
         url('../fonts/Chantelli_Antiqua-webfont.ttf') format('truetype'),
         url('../fonts/Chantelli_Antiqua-webfont.svg#chantelli_antiquaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
.deals p{
    background-color: rgba(0,0,0,.4);
    padding:10px;
}
.deals img{
    width:100%;
}
.services .well{
    color:#ddd;
    background-color:rgba(0,0,0,.4);
    border-radius:10px;
    border:none;
    margin-top:10px;
}
.services blockquote p{
    padding: 20px;
    background-color: rgba(0,0,0,.4);
    border-radius: 10px;
}

.deals h2{
    text-align:center;
    color:#ddd;
}

.banner h3{
    text-align: center;
    margin-bottom: 40px;
    color: #ddd;
}
.banner h1{
    font-size:60px;
}
.about{
    background-color: rgba(0,0,0,.3);
    padding:20px;
    border-radius:10px;
}
.promotion h2{
    padding: 10px 0px;
    background-color:#BF2C7D;
    text-align: center;
    margin-top:0px;
}
.promotion{
    background-color:white;
    color: #000;
    text-align:center;
    border:5px solid #BF2C7D;
    border-style:dashed;
    margin-bottom:20px;
}
.promotion p{
    padding:10px;
}

.contactus blockquote p{
    background-color: rgba(0,0,0,.4);
    padding:10px;
    border-radius:5px;
}
@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}

li>a.btn.client-login, li>a.btn.client-login:hover  {
    color: #000;
    border-radius: 0;
    background: #ddd;
    border: 1px solid #ddd;
}
