body{
	padding-top:70px;
	font-size:16px;
	background-color:#eee;
	-webkit-background-size: 10px 10px, 100% auto;
	-moz-background-size: 10px 10px, 100% auto;
	background-size: 10px 10px, 100% auto;
	background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));
	background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent), url('/capcitypetcare/resources/img/floral-background.png');
	background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent), url('/capcitypetcare/resources/img/floral-background.png');
	background-image: -ms-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent), url('/capcitypetcare/resources/img/floral-background.png');
	background-image: -o-linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent), url('/capcitypetcare/resources/img/floral-background.png');
	background-image: linear-gradient(-45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent), url('/capcitypetcare/resources/img/floral-background.png');
    color:#111;
}
#gallery img{
	width:15.5%;
	border:2px solid black;
	margin-bottom:10px;
}
.service {
	background-color: #fff;
	margin-bottom:10px;
	padding:10px;
}
.service h4 {
	background-color: #BF2C7D;
	line-height: 40px;
	text-align: center;
	color:#fff;
	margin: -10px;
	margin-bottom: 10px;
}
.service table{
	width:100%
}
.service table td{
	border-top:none;
}
.tier{
	background-color:#fff;
	color:#000;	
	box-shadow: 0px 0px 8px #444;
	padding-top:1px;
}
.detail{
	color:#FFF;
	padding:5px;
	background-color: #BF2C7D;
}
.subtle{
	background-color: #666;
}
.about-image {
	border:1px solid black;
  	width: 300px;
}
.about-image.pull-left{
	margin-right:20px;
}
.about-image.pull-right{
	margin-left:20px;
}
.contacts{
	line-height:30px;
	background-color:rgba(170, 170, 170, 0.6);
	border-radius:10px;
	padding:10px;
}
.price{
	font-size:40px;
	display:block;
	margin:30px;
}
.banner{
    background-color:rgba(170, 170, 170, 0.6);
    padding:20px;
    border-radius:10px;
    font-size: 1.3em;
    font-weight:bold;
    font-family: "chantelli_antiquaregular",Helvetica,Arial;
}
.navbar-header img{
    width:55px;
    float:left;
    padding:5px;
}
.banner .logo{
    text-align:center;
}
.banner img {
    width:100%;
}
p.description{
	padding:10px;
}

.detail p {
	font-size:16px;
}
.nails{
	padding-top:1px;
	background-color: white;
    margin-bottom:10px;
}
.nails .price{
	font-size:30px;
}
.separator{
	border-right:1px solid #DDD;
}
#myCarousel{
}
.page-header{
	border-bottom: 1px solid #aaa;
}
footer{
	padding-top: 40px;
	padding-bottom: 30px;
	margin-top: 40px;
	text-align: center;
	border-top: 1px solid #aaa;
	background-color: #dedede;
}
footer img{
	width:80px;
}
footer ul{
	list-style:none;
	padding:0px;
}
footer i{
	padding-right:5px;
}
h2, h3{
	color:#BF2C7D;
}

@font-face {
    font-family: 'chantelli_antiquaregular';
    src: url('../fonts/Chantelli_Antiqua-webfont.eot');
    src: url('../fonts/Chantelli_Antiqua-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Chantelli_Antiqua-webfont.woff') format('woff'),
         url('../fonts/Chantelli_Antiqua-webfont.ttf') format('truetype'),
         url('../fonts/Chantelli_Antiqua-webfont.svg#chantelli_antiquaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
	body{
	-webkit-background-size: 10px 10px, 800px auto;
	-moz-background-size: 10px 10px, 800px auto;
	background-size: 10px 10px, 800px auto;
	}
}
