<div class="container-fluid text-justify">
  <div class="row">
    <div class="col-12 real-content">
        <div class="row p-5  bg-dark text-light align-items-center">
            <div class="offset-sm-0 col-sm-3 col-6 offset-3 align-items-center">
                <img width="100%" class="img-fluid rounded" src="assets/images/about.jpg">
            </div>
            <div class="col-sm-7">
              <p>Hello! My name is Alexxis Castrati, owner and operator of Capital City Pet Care of Raleigh and Knightdale. I have been providing care in the pet industry since 2003 and have found those moments to be the most precious to me. After working several years at a boarding kennel, a veterinary hospital, and pet sitting part-time I decided to open Capital City Pet Care so that I may offer a more personal and catered type of pet service. Our pets are like our children and we want nothing but the best for them. Home care is a special type of service that allows us to take care of your pets in their own environment while you are away from home. Less stress equals happier and healthier pets!</p>
              <p class="mb-0">I graduated early from Mt. Olive College where I obtained my Bachelors of Science Degree in Biology. After Mt. Olive I took a semester at NCSU to study animal nutrition and anatomy. While in school I volunteered for several organizations to help out in the pet community. I was able to help shelter animals get adopted through <a href="http://www.pittfriends.com/" target="_blank">Pitt Friends</a>, rehabilitate local wildlife through the Wildlife Rehabilitation Center of <a href="http://www.nczoo.org/Default.aspx" target="_blank">Asheboro Zoo</a> and help raise money for the many cats in need through the Marley Fund.</p>
            </div>
        </div>
        <div class="row p-5  bg-light text-dark align-items-center">
          <div class="offset-sm-0 col-sm-3 col-6 offset-3 align-items-center">
            <img width="100%" class="img-fluid rounded" src="assets/images/Anthony.jpg">
          </div>
          <div class="col-sm-7">
            <div>
              <p>My husband, Anthony, a North Carolina State University graduate also helps with pet sitting visits and website maintenance.</p>
              <p>My husband and I are the proud parents of one goofy lab mix, Apollo, three quirky cats, Pandora, Penelope, and Midge, one fearless chinchilla, Yoshimoto and one crested gecko, Kakarot. They truly bring happiness to our everyday!</p>
            </div>
          </div>
        </div>
        <div class="row p-5  bg-dark text-light align-items-center">
            <div class="offset-sm-0 col-sm-3 col-6 offset-3">
                <img width="100%" class="img-fluid rounded" src="assets/images/kathryn.jpg">
            </div>
            <div class="col-sm-7">
                <p>Kathryn graduated from Rutgers University with highest honors and is currently attending North Carolina State University College of Veterinary Medicine working towards her DVM degree. She has been working with animals since 2008 and has a diverse background working as a veterinary assistant, grooming assistant, and doggy daycare attendant. She is no stranger to hard work and dedication. She is a very detailed and compassionate animal lover who will be sure to treat your pets as if they were her own.</p>
            </div>
        </div>
        <div class="row p-3 bg-light text-dark">
          <div class="col-md-8 offset-md-2">
          <blockquote class="blockquote text-justify">
              <p class="mb-0">We offer our sincerity and dedication to you and your pets and will strive to meet all of their individual needs. We treat every pet as if they were our own. You will have comfort in knowing the amount of love and care we provide to each individual pet. We invite you to inquire about our pet sitting services so that we may customize the perfect pet care plan for you and your extended family. We will set up a meet and greet where we will personally come to your home and work with you and your pet one on one to perfect a routine that's right for you.</p>
              <!-- <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p> -->
              <footer class="blockquote-footer text-right">We hope to hear from you soon! <cite title="Source Title">Capital City Pet Care</cite></footer>
            </blockquote>
        </div>
      </div>
  </div>
</div>