<div class="container-fluid">
  <div class="row bg-dark text-light p-5">
    <div class="col-12 real-content">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="center">
            <a href="https://mapsengine.google.com/map/edit?mid=z6pNdum8fnnE.khBlpJYSTjcM">Search for your address</a> to see if you are in our service area.
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <iframe src="https://www.google.com/maps/d/embed?mid=z6pNdum8fnnE.khBlpJYSTjcM" width="100%" height="400px"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>