<footer class="page-footer container-fluid">
  <!--Memberships-->
  <div class="row align-items-center memberships">
    <div class="col-6 col-sm-3"><img class="img-fluid mx-auto d-block" src="assets/images/psa-logo.jpg"></div>
    <div class="col-6 col-sm-3"><img class="img-fluid mx-auto d-block" src="assets/images/pups_membership.gif"></div>
    <div class="col-6 col-sm-3"><img class="img-fluid mx-auto d-block" src="assets/images/pro_pet_hero.png"></div>
    <div class="col-6 col-sm-3">
      <img class="img-fluid mx-auto d-block" src="assets/images/hidden_valley_animal_hospital_logo.png">
    </div>
  </div>
  <!--Contacts-->
  <div class="row p-3 bg-dark text-light">
    <div class="col-sm-6">
      <div class="row">
        <div class="col-5">
          <h4><i class="fas fa-envelope"></i> Email:</h4>
        </div>
        <div class="col-7">
          <a href="mailto:alexxis@capcitypetcare.com">alexxis@capcitypetcare.com</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="row">
        <div class="col-5">
            <h4><i class="fas fa-paw"></i> Follow:</h4>
        </div>
        <div class="col-7">
            <div class="row">
              <div class="col">
                  <a href="http://www.facebook.com/capcitypetcare" target="_blank">
                    <i class="fab fa-facebook-square mr-2"></i>Capital City Pet Care
                  </a>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <a href="https://www.instagram.com/capitalcitypetcare13" target="_blank">
                    <i class="fab fa-instagram mr-2"></i>capitalcitypetcare13
                  </a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--Reviews-->
  <div id="reviews" class="row">
    <div class="col-6 col-lg-3 p-1 angieslist">
      <a href="https://www.angieslist.com/companylist/us/nc/raleigh/capital-city-pet-care-reviews-8025577.htm" class="d-block" target="_blank">
        <img src="assets/images/angieslist.png" class="mr-2">Angie's List
      </a>
    </div>
    <div class="col-6 col-lg-3 p-1 google">
      <a href="https://goo.gl/qoMSPW" class="d-block" target="_blank">
        <i class="fab fa-google fa-2x mr-2"></i>Google
      </a>
    </div>
    <div class="col-6 col-lg-3 p-1 yelp">
      <a href="https://www.yelp.com/biz/capital-city-pet-care-knightdale" class="d-block" target="_blank">
        <i class="fab fa-yelp fa-2x mr-2"></i>Yelp
      </a>
    </div>
    <div class="col-6 col-lg-3 p-1 facebook">
      <a href="https://www.facebook.com/capcitypetcare/reviews" class="d-block" target="_blank">
        <i class="fab fa-facebook-square fa-2x mr-2"></i>Facebook
      </a>
    </div>
  </div>
  <!--Copyright-->
  <div class="row bg-dark text-light p-1">
    <div class="col">
        © Capital City Pet Care, LLC 2020 All rights reserved. Pet Sitting &amp; Dog Walking. Raleigh &amp; Knightdale NC
    </div>
  </div>
</footer>