<div class="container-fluid">
  <div class="row services">
    <div class="col-12">
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="consultations"></a>
          <div class="mask"></div>
          <span><i><h2>Consultations</h2></i></span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mb-5">
                  An initial consultation is required for all new clients. During your consultation we will familiarize ourselves with you and your home all while enabling your pet(s) to interact with us and determine if we are the right match for the job. We will take the time to answer any questions and formulate the right care plan for you and your pet(s). We will collect an up-to-date copy of your pets&apos; proof of rabies vaccination and payment for your first reservation. We recommend having keys ready at this time to avoid any key handling fees. Please expect this meeting to last anywhere from 30 minutes to an hour.
              </p>
          </div>
      </div>
      <div class="row">
              <div class="col-md-4 offset-md-2 ">
                      <div class="tier consultation text-center">
                              <h3>Initial</h3>
                              <span class="muted price"><strong>Free*</strong></span>
                              <div class="detail">
                                      <p><small>* This consultation is FREE for all clients who pre-pay and book services with Capital City Pet Care before or during the consult. See the

                                      <a class="popover-link"
                                        popoverTitle="Initial Consultations"
                                        ngbPopover="Initial consultation is free for all clients who pre-pay and book services with Capital City Pet Care before or during the consult. A $30 reservation fee will be due before the meet and greet with CCPC and that fee will be deducted from your first bill. If you decide to decline services at this time, you have 14 days to change your mind. We require at least a two day in advance booking for consultations. Please be aware that Capital City Pet Care is unable to provide services for aggressive or venomous pets. If we determine your pet is aggressive or venomous we will be forced to decline services and the consultation fee will not be refunded.">full policy</a>
                                      for more details.</small></p>
                              </div>
                      </div>
              </div>
              <div class="col-md-4">
                      <div class="tier text-center">
                              <h3>Follow-Up</h3>
                              <span class="muted price"><strong>$30</strong></span>
                              <div class="detail">
                                      <p><small>These consultations are required if you move to a new home, acquire a new pet, or any pet has a major change in medical needs. See the

                                      <a class="popover-link"
                                      popoverTitle="Follow-Up Consultations"
                                      ngbPopover="These consultations are required if you move to a new home, acquire a new pet, or any pet has a major change in medical needs.  We require this consultation to become acquainted with your new home or pet, obtain new keys, and have any necessary paperwork updated at this time. Follow-up consultations are $30 for up to 1 hour of time and there will be a $20 fee for each additional 30 minutes beyond the allotted 1 hour time frame.">full policy</a>

                                        for more details.</small></p>
                              </div>
                              </div>
              </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <p class="mt-3">
            <small>
                          <strong>Key Pickup/Return</strong> - Generally we keep your keys for future visits, but if you would like us to pick up or drop off your key for each reservation, we can provide this service to you for <strong>$15</strong> per service.
                  </small>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="vacation-visits"></a>
          <div class="mask"></div>
          <span><i><h2>Vacation Visits</h2></i></span>
        </div>
      </div>
      <div class="row visit-pricing">
        <div class="col-md-4 ">
          <div class="tier text-center">
            <h3>Express</h3>
            <p>Up to 20 Minutes</p>
            <span class="muted price"><strong>$20*</strong></span>
            <div class="detail">
              <small>Perfect for pets who prefer their own personal space or just need some quick relief! Includes a bathroom break, food, water, litter box scoop, medication administration, and complementary services.<sup>1</sup></small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tier text-center">
            <h3>Standard</h3>
            <p>30 Minutes</p>
            <span class="muted price"><strong>$22*</strong></span>
            <div class="detail">
              <small>Includes a bathroom break and lengthy walk or yard play, fresh water and food, litter box scoop, medication administration, complementary services<sup>1</sup>, and lots of belly rubs!</small>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="tier text-center">
            <h3>Extended</h3>
            <p>45 Minutes</p>
            <span class="muted price"><strong>$28*</strong></span>
            <div class="detail">
              <small>Includes a bathroom break, extended walk or yard play, fresh water and food, litter box scoop, medication administration, complementary services<sup>1</sup>, and extra TLC!</small>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <p class="mt-3">
            <small>
              <p>
                * Prices are based on a <strong>2 pet household</strong>. Each cat/dog beyond a two pet household will be an additional <strong>$3</strong> per pet per visit. For small animal &amp; exotic pet care, contact us for a quote. Capital City Pet Care is unable to provide services for aggressive or venomous pets.
              </p>
              <p>
                <strong><sup>1</sup></strong> Complementary Services: Light brushing, mail collection, trash service, light and blinds rotation, open/close windows and indoor plant watering. Not included in daily midday dog walking visits.
              </p>
            </small>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="add-ons"></a>
          <div class="mask"></div>
          <span><i><h2>Add-Ons</h2></i></span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mb-5">
                  In addition to pet sitting and dog walking, we offer other services which you can add on to your existing reservation or they can also be purchased as a standalone service.
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="service">
            <h4>Add-On Services</h4>
            <table>
              <tbody>
                <tr>
                  <td>Nail Trim</td>
                  <td><strong>$20</strong>/pet</td>
                </tr>
                <tr>
                  <td>Anal Gland Expression</td>
                  <td><strong>$20</strong>/pet</td>
                </tr>
                <tr>
                  <td>Subcutaneous Fluids</td>
                  <td><strong>$3</strong></td>
                </tr>
                <tr>
                  <td>Teeth Brushing</td>
                  <td><strong>$10</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="dog-walking"></a>
          <div class="mask"></div>
          <span><i><h2>Midday Dog Walking</h2></i></span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mb-5">
                  Most of us work long hours and are always on the go. There comes a moment when we realize that we are not able to give our pets all the attention they desire, or provide that extra walk or potty break they need. Mental and physical well being are key to the overall health and wellness of our pets and that's where Capital City Pet Care can help! Midday walks are a great way to provide that extra mental and physical stimulation that our pets need throughout the day. We would love to provide that added love and attention while you are away. Midday walks are M-F typically from 10:30 a.m. to 2:30 p.m.
              </p>
          </div>
      </div>
      <div class="row">
              <div class="offset-md-2 col-md-4 ">
                      <div class="tier text-center">
                              <h3>Express</h3>
                              <p>Up to 20 Minutes</p>
                              <span class="muted price"><strong>$22*</strong></span>
                              <div class="detail">
                                  <small>Includes a short walk or yard play, refresh water, medication administration, and lunch if needed.</small>
                              </div>
                      </div>
              </div>
              <div class="col-md-4">
                      <div class="tier text-center">
                              <h3>Standard</h3>
                              <p>30 Minutes</p>
                              <span class="muted price"><strong>$24*</strong></span>
                              <div class="detail">
                                  <small>Includes a lengthy walk or yard play, refresh water, medication administration, and lunch if needed.</small>
                              </div>
                      </div>
              </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <p class="mt-3">
            <small>
              <p>* Prices are based on a <strong>2 pet household</strong>. Each cat/dog beyond a two pet household will be an additional <strong>$3</strong> per pet per visit. Restrictions apply based on pet temperament and level of difficulty.</p>
            </small>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="nail-trims"></a>
          <div class="mask"></div>
          <span><i><h2>Nail Trim Visit</h2></i></span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mb-5">
                  Nail trims can be difficult when doing them on your own. Let us help you skip the anxiety of cutting too short or let us help you get that smooth finish to keep you and your floor scratch free!
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="row">
                <div class="col-md-4 offset-md-2">
                    <div class="text-center nails">
                        <h3>Regular Nail Trim</h3>
                        <span class="muted price"><strong>$25*</strong></span>
                        <div class="detail subtle">Standard Finish</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center nails">
                        <h3>Dremel</h3>
                        <span class="muted price"><strong>$28*</strong></span>
                        <div class="detail">Smooth Finish</div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
                  <p class="mt-3">
                    <small>
                      * Nail trim prices are applicable for nail trims where the owner is able to hold/restrain the pet(s). When scheduling a nail trim, please inform us if you are unable to restrain your pet or would like an additional member of Capital City Pet Care to help with restraint. An additional <strong>$12</strong> per household will be charged in this event.
                    </small>
                  </p>
          </div>
      </div>
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="nail-caps"></a>
          <div class="mask"></div>
          <span><i><h2>Nail Caps + Nail Trim Visit</h2></i></span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mb-5">
                Are your pets scratching your floor or furniture? Are their nails too sharp? Do you have thin or sensitive skin? Nail covers provide a safe alternative to declawing and cover the nail completely while still allowing your pet to fully extend and retract their claws. The caps naturally shed as your pet's nails grow in generally 4 to 8 weeks. If they do not fall off on their own they can be cut off during a regular nail trim. If you have your own supply we can do the nail trim and apply them for you. If you need covers we can supply those as well. Each session starts with a nail trim and then we carefully apply the covers with a pet safe adhesive.
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <div class="service">
            <h4>Nail Caps + Nail Trim</h4>
            <table>
              <tbody>
                <tr>
                  <td>Application Only</td>
                  <td><strong>$35*</strong></td>
                </tr>
                <tr>
                  <td>Feline Nail Caps Included (Front Paws Only)</td>
                  <td><strong>$40*</strong></td>
                </tr>
                <tr>
                  <td>Canine Nail Caps Included (All Paws)</td>
                  <td><strong>$48*</strong></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-10 offset-md-1">
          <p class="mt-3">
            <small>
              * Nail trims/cap application prices are applicable for nail trims where the owner is able to hold/restrain the pet(s). When scheduling a nail trim, please inform us if you are unable to restrain your pet or would like an additional member of Capital City Pet Care to help with restraint. An additional <strong>$12</strong> per household will be charged in this event.
            </small>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="expressions"></a>
          <div class="mask"></div>
          <span><i><h2>Anal Sac Expression Visit</h2></i></span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mb-5">
                  Is your dog licking, scratching, scooting, or biting at its tail? Do you smell a funny odor? It may be time for an anal sac expression! Many factors can affect the anal sacs such as soft stools, allergies, and the quality of their food. Having a full sac can become uncomfortable, impacted, or infected.
              </p>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4 offset-md-4">
                  <div class="text-center nails">
                          <span class="muted price"><strong>$25*</strong></span>
                          <div class="detail">Internal Expression</div>
                  </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mt-3">
                <small>
                  * Expression prices are applicable for expressions where the owner is able to hold/restrain the pet(s). When scheduling an expression, please inform us if you are unable to restrain your pet or would like an additional member of Capital City Pet Care to help with restraint. An additional <strong>$12</strong> per household will be charged in this event.
                </small>
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col-12 separator">
          <a class="anchor" id="locked-out"></a>
          <div class="mask"></div>
          <span><i><h2>Locked Out Emergency</h2></i></span>
        </div>
      </div>
      <div class="row">
          <div class="col-md-10 offset-md-1">
              <p class="mb-5">
                  If we have retained your key and you lock yourself out of your home, we can let you back in and provide you with a working key.
              </p>
          </div>
      </div>
      <div class="row">
        <div class="col-md-4 offset-md-4">
          <div class="text-center nails">
            <span class="muted price"><strong>$35</strong></span>
            <div class="detail">Emergency Key Service</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
