<div class="container-fluid">
  <div class="row">
    <img src="assets/images/simone_alexxis_nik_3_1.jpg" width="100%" class="img-fluid" alt="Banner">
  </div>
  <div class="row bg-light text-dark">
    <div class="container">
      <div class="col p-4">
        <p class="lead">As pet parents, we strive to provide the best possible life for our forever friends, but day to day life can become hectic. Some of us work long hours or maybe we just can't take our beloved pet on our next vacation. Every pet has different needs and whether you have a high energy pet that needs extra mental and physical stimulation or you just want to provide your pet with the comforts that boarding facilities just can't accommodate, whatever the reason, let Capital City Pet Care of Raleigh and Knightdale be there for you and your pet. We understand the importance of allowing pets to stay in their own home where they feel most secure. So, if you're going on vacation or anticipate a long day at work, let us provide you with the peace of mind that your pets are receiving the highest quality of care while you're away.</p>
      </div>
    </div>
  </div>
  <div class="row deals bg-dark text-light p-5">
    <div class="col-md-4">
        <h2>Free Consultation</h2>
        <img width="100%" class="img-fluid" src="assets/images/free_consultation.jpg">
        <p>
            Sniff us out! This consultation is FREE for all clients who pre-pay and book services with Capital City Pet Care before or during the consult! We will travel to
            your home to meet with you and your pet one on one to create a specialized care plan for you and your
            extended family. <a href="contact">Contact us</a> today!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Our Services</h2>
        <img width="100%" class="img-fluid" src="assets/images/services.jpg">
        <p>
            Capital City Pet Care is a fully bonded and insured pet sitting service that provides care for dogs,
            cats, small animals and exotics in Raleigh and Knightdale. We are proud to offer daily visits, dog
            walking, medication administration, nail trims and <a href="services">much more</a>!
        </p>
    </div>
    <div class="col-md-4">
        <h2>Referral Program</h2>
        <img width="100%" class="img-fluid" src="assets/images/referral_program.jpg">
        <p>We are always excited to welcome new members into our extended family! Refer a friend or family member and receive a $15 credit for future service after the referral's first
            completed service.</p>
    </div>
  </div>
</div>