<!--Navigation to include on all pages-->
<nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-light bg-light ">
  <a class="navbar-brand" href="home">
    <img src="assets/images/CCPC_Logo_Final_No_Text.png" class="d-inline-block align-top" alt="">
    <br>
    <span class="shown-text d-none d-lg-block"><h4>Capital City Pet Care, LLC</h4></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto mr-auto">
      <a class="nav-item nav-link" href="home" routerLink="home" routerLinkActive="active">Home</a>
      <a class="nav-item nav-link" href="about" routerLink="about" routerLinkActive="active">About Us</a>
      <a class="nav-item nav-link" href="contact" routerLink="contact" routerLinkActive="active">Contact Us</a>
      <a class="nav-item nav-link" href="service_area" routerLink="service_area" routerLinkActive="active">Service Area</a>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="services" routerLink="services" routerLinkActive="active" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Services & Rates
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="services#consultations">Consultations</a>
          <a class="dropdown-item" href="services#vacation-visits">Vacation Visits</a>
          <a class="dropdown-item" href="services#add-ons">Add-Ons</a>
          <a class="dropdown-item" href="services#dog-walking">Midday Dog Walking</a>
          <a class="dropdown-item" href="services#nail-trims">Nail Trim Visit</a>
          <a class="dropdown-item" href="services#nail-caps">Nail Caps + Nail Trim Visit</a>
          <a class="dropdown-item" href="services#expressions">Anal Sac Expression Visit</a>
          <a class="dropdown-item" href="services#locked-out">Locked Out Emergency</a>
        </div>
      </li>
      <a class="nav-item nav-link" href="faq" routerLink="faq" routerLinkActive="active">FAQ</a>
      <a class="btn btn-primary ml-2" href="https://www.timetopet.com/portal/capital-city-pet-care">
        Client Login
        <i class="fas fa-user"></i>
      </a>
    </div>
  </div>
</nav>